ipython>=6.2.1
ipython-genutils>=0.2.0
Keras>=2.0.4
Keras-Applications>=1.0.6
Keras-Preprocessing>=1.0.5
livelossplot>=0.2.0
matplotlib>=3.0.0
numpy>=1.15.2
pydot>=1.2.4
pydotplus>=2.0.2
tensorflow==1.11.0
tensorflow-probability==0.4.0